  <main class="main container">

    <!-- Face -->
  <div class="for-face visually-hidden">
     <div class="new-products">
      <h1 class="title">Для обличчя</h1>
  <ul class=" for-face-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Додати у кошик</button>
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Додати у кошик</button>
  </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
      <div class="slider-buttons">
       <button class="sale-btn">Додати у кошик</button>
      </div>
  </div>
 </li>
   <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
      <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
    </ul>
   </div> 
  </div>
  <!-- Body -->
   <div class="for-body visually-hidden">
     <div class="new-products">
      <h1 class="title">Для тіла</h1>
  <ul class=" for-body-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Додати у кошик</button>
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Додати у кошик</button>
  </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
      <div class="slider-buttons">
       <button class="sale-btn">Додати у кошик</button>
      </div>
  </div>
 </li>
   <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
      <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
    </ul>
   </div> 
  </div>
  <!-- Lips

-->
   <div class="for-lips visually-hidden">
     <div class="new-products">
      <h1 class="title">Для губ</h1>
  <ul class=" for-lips-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Додати у кошик</button>
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Додати у кошик</button>
  </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
      <div class="slider-buttons">
       <button class="sale-btn">Додати у кошик</button>
      </div>
  </div>
 </li>
   <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
      <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
    </ul>
   </div> 
  </div>
  <!-- 

    Hair
   -->
   <div class="for-hair visually-hidden">
     <div class="new-products">
      <h1 class="title">Для волосся</h1>
  <ul class=" for-hair-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Додати у кошик</button>
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Додати у кошик</button>
  </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
      <div class="slider-buttons">
       <button class="sale-btn">Додати у кошик</button>
      </div>
  </div>
 </li>
   <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
       <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
      <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
    </ul>
   </div> 
  </div>

  <!-- 

    Box
   -->
   <div class="box-section visually-hidden">
     <div class="new-products">
      <h1 class="title">Бокси</h1>
  <ul class="box-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Додати у кошик</button>
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> <li class="new-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Додати у кошик</button>
  </div>
</li> 
    </ul>
   </div> 
  </div>
  <!-- 

    Gift
   -->
   <div class="gift-s visually-hidden">
     <div class="new-products">
      <h1 class="title">Сертифікати</h1>
  <ul class=" gift-s-list new-product-list">
      <li class="new-shop-item ">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Додати у кошик</button>
              
         </div>
     </li>
    </ul>
   </div> 
  </div>
  </main>