 <footer class="footer">
      <div class="footer__container container">
        <div class="footer-left">
                  <p>З питань замовлень можна зв'язатися за телефоном:  +380685440433</p>
                    <p>Отримати консультацію щодо підбору товару можна за телефоном:  +380685440433</p>
                  <p class="footer-logo">KRALYA.BEAUTY.SHOP</p>
        </div>

          <div class="footer-network">
                <p>Слідкуйте за нашими знижками і беріть участь в акціях на нашій сторінці в інстаграм:</p>
                <a href="https://www.instagram.com/kralya.beauty.shop/" class="footer-social__link">
                  <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
          </div>
      </div>
    </footer>
    
    