 <footer class="footer">
      <div class="footer__container container">
        <h1 class="title">Контакти</h1>
        <div class="contact-info">
          <div class="footer-left">
            <h2>Адреса</h2>
            <p>М.Дніпро</p>
          </div>
          <div class="footer-mid">
            <h2>Номер Телефона</h2>
            <p>+380685440433</p>
            <a href="https://www.instagram.com/kralya.beauty.shop/" class="footer-social__link">
              <svg class="footer-social__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </div>
          <div class="footer-right">
            <h2>Графік роботи</h2>
            <p>Щодня з 9-00 до 20-00</p>
          </div>
             </div>
      </div>
      <!-- <div class="footer-left-info container">
        <ul class="footer-left-list">
          <li class="help left-item">
            <a href="#" class=" left-link">Головна</a>
          </li>
          <li class="left-item"><a href="#" class="left-link"></a></li>
          <li class="left-item"><a href="#" class="left-link">Всі товари</a></li>
          <li class="left-item"><a href="#" class="left-link">Бренди</a></li>
          <li class="left-item"><a href="#" class="left-link">Контасти</a></li>
          <li class="left-item"><a href="#" class="left-link">Відгуки</a></li>
          </ul>
          </div> -->
    </footer>
    
    