 <footer class="footer">
      <div class="footer__container container">
        <div class="footer-left">
          <div class="footer-address">
            <address>
              <ul class="contacts">
                <li class="contacts__item">
                  <a href="tel:+380961111111" class="contact-nav__link tel">
                    <svg class="contact-nav__icon" width="16px" height="16px">
                      <use href="./images/icons.svg#icon-tel"></use>
                    </svg>
                    +380685440433
                  </a>
                </li>
              </ul>
            </address>
          </div>
          <div class="footer-network">
            <ul class="footer-social">
              <li class="footer-social__list">
                <a href="https://www.instagram.com/kralya.beauty.shop/" class="footer-social__link">
                  <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <form class="footer-form">
          <p class="footer-subscribe__title">ПОДПИШИТЕСЬ НА РАССЫЛКУ</p>
          <form class="footer-form" name="email">
            <label for="email" class="footer-form__label"></label>
            <input
              class="footer-form__input"
              type="email"
              name="email"
              id="email"
              placeholder="E-mail"
            />
            <button type="button" class="footer-form__button">
              Подписаться
              <svg class="footer-form__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-icon-send"></use>
              </svg>
            </button>
          </form> -->
        </div>
      </div>
      <div class="container footer-container">
        <p class="footer-copy">&copy; 2022 | All Rights Reserved |</p>
        <p class="footer-developed-by">
          <a href="https://github.com/YevheniiGrabina" class="footer-developed-by-link">Hrabina Yevhenii</a>
        </p>
      </div>
    </footer>
    
    