<header class="header">
  <div class="container">
      <div class="contact-nav">
        <ul class="contact-list">
        <li class="contact-item">
          <p class="contact-title">+380685440433</p>
          <p>Щодня з 9-00 до 20-00</p>
        </li>
        <ul>
    <li>
      <a href="#" class="round red">
      <div class="phone"></div>
      <span class="round">Зворотній дзвінок </span>
    </a>
  </li>
	</ul> 
        </ul>
      </div>
        <button class="burger" data-menu-open type="button">
            <svg class="burger__icon" width="16px" height="16px">
              <use href="./images/icons.svg#icon-menu"></use>
            </svg>
          </button>
           <form class="form">
         <div class="input-section">
        <input type="search" class="input-section__input" placeholder="Пошук..." value="">
        <button class="form__btn btn js-form-btn" type="submit" aria-label="search films">
          <svg class="search-icon" width="12" height="12">
            <use href="/src/images/search2.svg#icon-search"></use> 
          </svg>
        </button>
    </form>
      <div class="logo">
            <img src="./images/logo.png" alt="Логотип" type="button" loading="lazy" class="logo-img">
            <img src="/src/images/kralya.png" alt="Логотип" type="button" loading="lazy" class="logo-text">
    </div>
     <div class="basket-item "  type="button" data-modal-open>
        <button class="basket">
         <svg class="basket-icon" width="25px" height="25px">
           <use href="./images/icon.svg#icon-shopping-basket"></use>
         </svg>
        </button>
      </div>
      </div>
            <div class="mobile-menu" data-menu>
            <button type="button" class="close" data-menu-close>
              <svg class="close__icon">
                <use href="./images/icons.svg#icon-close_menu"></use>
              </svg>
            </button>
            <button class="mobile-basket " type="button" data-modal-open>
              <svg class="mobile-basket-icon" width="25px" height="25px">
                <use href="./images/icon.svg#icon-shopping-basket">
                </use>
              </svg>
              <span class="basket-text">Кошик</span>
            </button>
            <ul class="mobile-nav">
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="/"
                  >Головна</a
                >
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="/">Бренди</a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="">Контакти</a>
              </li>
              <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="">Відгуки</a>
              </li>
            </ul>
            </div>
   </div>
  </header>
  <div class="nav-menu ">
    <ul class="nav-list container">
     <li class="nav-list__item">
         <a class="nav-list__link"  href="/">Головна</a>
     </li>
     <li class="nav-list__item">
      <span class="nav-list__link"  href="/">
        <select name="user_city" class="select">
            <option value="1">Всі товари</option>
            <option value="2">Обличчя</option>
            <option value="3">Губи</option>
            <option value="4">Тіло</option>
            <option value="5">Волосся</option>
            <option value="6">Інше</option>
        </select>
      </span>
  </li>
      <li class="nav-list__item">
         <a  class="nav-list__link" href="/">Бренди</a>
     </li>
      <li class="nav-list__item">
         <a class="nav-list__link" href="/">Контакти</a>
      </li>
          <li class="nav-list__item">
         <a class="nav-list__link" href="/">Відгуки</a>
     </li>
     </ul>
   </div>