<header class="header">
<div class="container header-container">
 <nav class="nav">
      <a class="logo" href="/">
          <img src="./images/logo.png" alt="Логотип" loading="lazy" height="100px" width="100px" />
      </a>
     <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link"  href="/">Головна</a>
        </li>
         <li class="nav-item">
            <a  class="nav-link" href="/">Каталог товарів</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/">Контакти</a>
        </li>
        <li>
              <a href="/" class="icon-nav-link">
              <svg class="nav-icon" width="16px" height="16px">
                <use href="/src/images/shopping-basket.svg"></use>
              </svg>
              Кошик
            </a>
        </li>
     </ul>
 </nav>
 <div class="nav-links">
<ul class="b-list">
         <li class="nav-item">
            <a class="nav-link" href="/">Для тіла</a>
             <li class="nav-item">
            <a class="nav-link" href="/">Для обличчя</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/">Для волосся</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/">Бренди</a>
        </li>
     </ul>
 </div>
</header>
