<main class="main container">
  <!-- Категорії -->
  <div class="image-slider slider-container ">
    <div class="image-slider_wrapper swiper-wrapper">
    <div class="image-slider_slide swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn face js-nav-face-btn">
      <a class="shop-category__link" >
        <img src="/src/images/face.jpg" alt="#"  class="main-images image-slider_image" />
      <p class="shop-category__name"> Обличчя
      </p>
    </a>
    </button>
      </div>
  </div>
    <div class="shop-category__item swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn js-nav-body-btn body">
      <a class="shop-category__link" >
        <img src="/src/images/body.jpg" alt="#"    class="main-images image-slider_image"/>
      <p class="shop-category__name"> Тіло
      </p>
    </a>
    </button>
      </div>
    </div>
    <div class="shop-category__item swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn js-nav-lips-btn lips">
      <a class="shop-category__link" >
         <img src="/src/images/lips.jpg" alt="#"  class="main-images" />
      <p class="shop-category__name"> Губи
      </p>
    </a>
    </button>
      </div>
    </div>
    <div class="shop-category__item swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn js-nav-hair-btn hair">
      <a class="shop-category__link" >
        <img src="/src/images/hair.jpg" alt="#"   class="main-images"/>
      <p class="shop-category__name"> Волосся
      </p>
    </a>
    </button>
    </div>
    </div>
    <div class="shop-category__item swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn js-nav-box-btn box">
      <a class="shop-category__link" >
         <img src="/src/images/box.jpg" alt="#"  class="main-images" />
      <p class="shop-category__name"> Бокси
      </p>
    </a>
    </button>
    </div>
    </div>
    <div class="shop-category__item swiper-slide">
      <div class="image-slider_content">
    <button class="shop-category__btn js-nav-gifts-btn gifts">
      <a class="shop-category__link" >
         <img src="/src/images/gifts.jpg" alt="#"  class="main-images"/>
      <p class="shop-category__name"> Сертифікати
      </p>
    </a>
    </button>
    </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-scrollbar"></div>
    </div>
</div>
</div>
  <!-- Перехід по категоріям -->
<h1 class="title lider-title">Популярні товари</h1>
  <div class="shopping-item-wrapper new-shop-category">
    <ul class="products-grid">
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
					<li class="products-grid__item">
						<article class="product">
							<a href="#" class="product__image">
								<div class="product__switch image-switch">
									<div class="image-switch__item">
										<div class="image-switch__img"><img src="/src/images/logo.png" alt="Макбук"></div>
									</div>
								</div>
								<ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
							</a>
							<h3 class="product__title">
								<a href="#">Какой то крэм</a>
							</h3>
							<div class="product__props">
								<span class="product__rating">
									<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z" />
									</svg>
									4,5
								</span>
								<span class="product__testimonials">83 отзыва</span>
							</div>
							
							<div class="product__price product-price">
								<span class="product-price__current">500 Грн</span>
								<span class="product-price__old">500 Грн</span>
							</div>
							<button class="product__btn btn">Додати у кошик</button>
						</article>
					</li>
				</ul>
  </div>
  <div class="callback-section">
    <h2 class="callback-title">НЕ ЗНАЄШ ШО ОБРАТИ?</h2>
    <P class="callback-text">Залишай заявку прямо зараз і ми допоможемо Вам
    </p>
    <button class="callback-btn">Зворотній дзвінок</button>
  </div>   
  <h1 class="title new-title">Новинки</h1>  
  <div class="new-shop-category news">
    <ul class="new-product-list">
      <li class="new-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/logo.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-brand">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <!-- <button class="sale-btn">Додати у кошик</button> -->
              
         </div>
     </li>
     <li class="new-shop-item">
      <a href="/">
          <img src="/src/images/logo.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-brand">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <!-- <button class="sale-btn">Додати у кошик</button> -->
      </div>
  </li> <li class="new-shop-item">
    <a href="/">
        <img src="/src/images/logo.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-brand">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Додати у кошик</button>
    </div>
</li> 
    </ul>
  </div>
  <!-- Перехід по категоріям -->
  <!-- Обличчя -->
       </div>
</main>
