<main class="main container">

  <!-- Категорії -->
  <div class="shop-categories ">
    <ul class="shop-category__list">
    <li class="shop-category__item ">
    <button class="shop-category__btn  nav__btn--currently face js-nav-face-btn">
      <a class="shop-category__link" >
        <img src="/src/images/face.jpg" alt="#"  class="main-images1" />
      <p class="shop-category__name"> Обличчя
      </p>
    </a>
    </button>
    </li>
    <li class="shop-category__item ">
    <button class="shop-category__btn">
      <a class="shop-category__link" >
        <img src="/src/images/body.jpg" alt="#"   class="main-images2"/>
      <p class="shop-category__name"> Тіло
      </p>
    </a>
    </button>
    </li>
    <li class="shop-category__item ">
    <button class="shop-category__btn">
      <a class="shop-category__link" >
         <img src="/src/images/lips.jpg" alt="#"  class="main-images3" />
      <p class="shop-category__name"> Губи
      </p>
    </a>
    </button>
    </li>
    <li class="shop-category__item ">
    <button class="shop-category__btn">
      <a class="shop-category__link" >
        <img src="/src/images/hair.jpg" alt="#"   class="main-images4"/>
      <p class="shop-category__name"> Волосся
      </p>
    </a>
    </button>
    </li>
    <li class="shop-category__item ">
    <button class="shop-category__btn">
      <a class="shop-category__link" >
         <img src="/src/images/box.jpg" alt="#"  class="main-images5" />
      <p class="shop-category__name"> Бокси
      </p>
    </a>
    </button>
    </li>
    <li class="shop-category__item ">
    <button class="shop-category__btn">
      <a class="shop-category__link" >
         <img src="/src/images/gifts.jpg" alt="#"  class="main-images6"/>
      <p class="shop-category__name"> Сертифікати
      </p>
    </a>
    </button>
    </li>
    </ul>
</div>
    </div>
  </div>
  <!-- Перехід по категоріям -->
</div>
<h1 class="title">Популярні товари</h1>
  <div class="new-shop-category ">
    <ul class="new-product-list">
      <li class="nev-shop-item">
        <div>
         <a href="/">
             <img src="/src/images/nofound.png" alt="#" >
             </a>
            </div>
              <div class="product-info">
             <h2 class="product-name">Lorem ipsum dolor  .</h2>
              <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
              <p class="product-price">666.66</p>
              
                <button class="sale-btn">Замовити</button>
              
         </div>
     </li>
     <li class="nev-shop-item">
      <a href="/">
          <img src="/src/images/nofound.png" alt="#" >
          </a>
           <div class="product-info">
            <h2 class="product-name">Lorem ipsum dolor  .</h2>
            <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
            <p class="product-price">666.66</p>
           <button class="sale-btn">Замовити</button>
      </div>
  </li> <li class="nev-shop-item">
    <a href="/">
        <img src="/src/images/nofound.png" alt="#" >
        </a>
         <div class="product-info">
          <h2 class="product-name">Lorem ipsum dolor  .</h2>
          <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
          <p class="product-price">666.66</p>
         <button class="sale-btn" type="button">Замовити</button>
    </div>
</li> <li class="nev-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Замовити</button>
  </div>
</li> <li class="nev-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
      <div class="slider-buttons">
       <button class="sale-btn">Замовити</button>
      </div>
  </div>
 </li>
    </ul>
  </div>
  <div class="callback ">
    <h2 class="callback-title">НЕ ЗНАЄШ ШО ВИБРАТИ?</h2>
    <P class="callback-text">Залишай заявку прямо зараз і ми допоможемо Вам
    </p>
    <button class="callback-btn">Зворотній дзвінок</button>
  </div>
<!-- </li> <li class="nev-shop-item">
  <a href="/">
      <img src="/src/images/nofound.png" alt="#" >
      </a>
       <div class="product-info">
        <h2 class="product-name">Lorem ipsum dolor  .</h2>
        <p class="product-subname">Lorem ipsum dolor sit amet consectetur</p>
        <p class="product-price">666.66</p>
       <button class="sale-btn" type="button">Замовити</button>
  </div>
</li>  -->
              
  <!-- <div class="lider-shop-category">
    <h1 class="title">Лідери продажів</h1>
  <ul class="new-shop-list">
     <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <p class="product-price">ціна</p>
        </div>
    </li>
    <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
   <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
   <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
  </ul>
   </div>
  </div>
  <!-- Перехід по категоріям -->
  <!-- Обличчя -->
   <div class="for-face visually-hidden">
     <div class="new-products">
      <h1 class="title">Для обличчя</h1>
  <ul class="product-list">
    <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
            <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
     <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
              <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
  
    <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
 
   <li class="nev-shop-item">
        <a href="/">
            <img src="/src/images/nofound.png" alt="#" >
            </a>
             <div class="product-info">
            <h2 class="product-name">Бренд</h2>
             <p class="product-subname">Назва продукту</p>
             <span class="product-price">ціна</span>
        </div>
    </li>
  </ul>
   </div> -->
</main>
