<main class="main-container container">
  <div class="shop-categories-wrapper"></div>
  <div class="shop-categories">
    <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Акції 
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Парфумерія 
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Макіяж
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Волосся 
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Обличчя
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Тіло
      </span>
    </a>
  </div>
   <div class="shop-category">
      <a class="shop-category-link" href="/">
      <span class="shop-category-image">
        <img src="/src/images/nofound.png" alt="#" height="80" width="80" />
      </span>
      <span class="shop-category__name"> Ще щось
      </span>
    </a>
    </div>
  </div>
</div>
  <div class="new-shop-category">
    <h1 class="title">Новинки у KRALYA.BEAUTY.SHOP</h1>
  </div>
  <div class="new-products">
  <ul class="product-list">
    <li class="product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="product-name">Бренд</span>
             <span class="product-subname">Назва продукту</span>
              <span class="product-rating">рейтинг продажів</span>
             <p class="product-price">ціна</p>
        </a>
    </li>
  </ul>
   <ul class="product-list">
    <li class="product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="product-name">Бренд</span>
             <span class="product-subname">Назва продукту</span>
              <span class="product-rating">рейтинг продажів</span>
             <p class="product-price">ціна</p>
        </a>
    </li>
  </ul>
   <ul class="product-list">
    <li class="product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="product-name">Бренд</span>
             <span class="product-subname">Назва продукту</span>
              <span class="product-rating">рейтинг продажів</span>
             <p class="product-price">ціна</p>
        </a>
    </li>
  </ul>
   <ul class="product-list">
    <li class="product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="product-name">Бренд</span>
             <span class="product-subname">Назва продукту</span>
              <span class="product-rating">рейтинг продажів</span>
             <p class="product-price">ціна</p>
        </a>
    </li>
  </ul>
  </div>
  <div class="lider-shop-category">
    <h1 class="title">Лідери продажів</h1>
   </div>
<div class="lider-products">
  <ul class="lider-product-list">
    <li class="lider-product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="lider-product-name">Бренд</span>
             <span class="lider-product-subname">Назва продукту</span>
              <span class="lider-product-rating">рейтинг продажів</span>
             <p class="-liderproduct-price">ціна</p>
        </a>
    </li>
  </ul>

  <div class="lider-products">
  <ul class="lider-product-list">
    <li class="lider-product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="lider-product-name">Бренд</span>
             <span class="lider-product-subname">Назва продукту</span>
              <span class="lider-product-rating">рейтинг продажів</span>
             <p class="-liderproduct-price">ціна</p>
        </a>
    </li>
  </ul>
 
  <div class="lider-products">
  <ul class="lider-product-list">
    <li class="lider-product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="lider-product-name">Бренд</span>
             <span class="lider-product-subname">Назва продукту</span>
              <span class="lider-product-rating">рейтинг продажів</span>
             <p class="-liderproduct-price">ціна</p>
        </a>
    </li>
  </ul>
  
  <div class="lider-products">
  <ul class="lider-product-list">
    <li class="lider-product-item">
        <a href="/">
        <span class="img">
            <img src="/src/images/nofound.png" alt="#" width="160" height="160">
        </span>
            <span class="lider-product-name">Бренд</span>
             <span class="lider-product-subname">Назва продукту</span>
              <span class="lider-product-rating">рейтинг продажів</span>
             <p class="-liderproduct-price">ціна</p>
        </a>
    </li>
  </ul>
   </div>
  <div class="brand-links">
    <div class="hp-brands">
        <div class="hp-brands__item">
</div>
</main>
