<!-- <div class="slider" data-slider="itc-slider" data-loop="true">
    <div class="slider__wrapper">
      <div class="slider__items">
        <div class="slider__item">
          <button class="shop-category__btn  nav__btn--currently face js-nav-face-btn">
              <a class="shop-category__link" >
                <img src="/src/images/face.jpg" alt="#"  class="main-images" />
              <p class="shop-category__name"> Для Обличчя
              </p>
            </a>
            </button>
        </div>
        <div class="slider__item">
          <button class="shop-category__btn">
              <a class="shop-category__link" >
                <img src="/src/images/body.jpg" alt="#"   class="main-images"/>
              <p class="shop-category__name"> Для Тіла
              </p>
            </a>
            </button>
        </div>
        <div class="slider__item">
          <button class="shop-category__btn">
              <a class="shop-category__link" >
                 <img src="/src/images/lips.jpg" alt="#"  class="main-images" />
              <p class="shop-category__name"> Для Губ
              </p>
            </a>
            </button>
        </div>
        <div class="slider__item">
          <button class="shop-category__btn">
              <a class="shop-category__link" >
                <img src="/src/images/hair.jpg" alt="#"   class="main-images"/>
              <p class="shop-category__name"> Для Волосся
              </p>
            </a>
            </button>
        </div>
        <div class="slider__item">
          <button class="shop-category__btn">
              <a class="shop-category__link" >
                 <img src="/src/images/box.jpg" alt="#"  class="main-images" />
              <p class="shop-category__name"> Бокси
              </p>
            </a>
            </button>
        </div>
        <div class="slider__item">
          <button class="shop-category__btn">
              <a class="shop-category__link" >
                 <img src="/src/images/gifts.jpg" alt="#"  class="main-images"/>
              <p class="shop-category__name"> Сертифікати
              </p>
            </a>
            </button>
        </div>
      </div>
    </div>
    <button class="slider__control" data-slide="prev"></button>
    <button class="slider__control" data-slide="next"></button>
  </div> -->
