.header{
    border-radius: 25px 25px 0px 0px;
    border-bottom: 5px solid #cc6c7b;
}
.header .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
}
  .contact-list{
    margin-top: 37px;
  }
  .contact-item{
    margin: 0 0 16px;
    justify-content: center;
    @media screen and (max-width: 767px) {
            display: none;
        }
}
.contact-text{
    margin-right: 12px;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.29;
    text-transform: uppercase;
}
.contact-btn{
    border-radius: 10px;
     border: 2px solid #ffffff;
     background-color: rgb(255, 225, 235);
}

// logo

.logo{
    display: block;
    margin-left: auto;
    margin-right: 100px;
}
.logo-img{
   min-width: 100px;
   height: 100px; 
   
   @media screen and (min-width: $tablet) {
    width: 50px;
}
}

.logo-text{
    font-weight: 100;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
    color: #000;
    position: relative;
    padding-bottom: 10px;
    

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav-menu{
vertical-align: middle;
height: 30px;
border-bottom: 1px #cc6c7b;
// background-color: #fff6f6;
@media screen and (max-width: 767px) {
        display: none;
    }
}
.nav-list{
    padding: 0 4px 0 2px;
    border-bottom: 2px solid #d78894;
    width: 100%;
    display: flex;
    margin:  auto;
}

.nav-list__item{
    padding: 0 0 9px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin: 0 auto;
}

.nav-list__link{
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.29;
    text-transform: uppercase;
}


.basket{
background-color: transparent;
    border: none;
    cursor: pointer;
   margin-right: 10px;
    
}

.basket-text{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
}

.input-section__input{
    border-radius: 10px;
    border: 5px solid #ffffff;
    

    @media screen and (max-width: 767px) {
            display: none;
        }
}
.form__btn{
    margin-left: 15px;
     border-radius: 10px;
     border: 2px solid #ffffff;
     background-color: rgb(255, 225, 235);
}

.burger{
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-items: flex-start;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            display: none;
        }
}
       .burger__icon{
            width: 35px;
            height: 35px;
            
        }

.nav-section {
    display: none;
}

// Мобильная навигация

.navigation-block {
   
    @media screen and (min-width: 768px) {
            display: none;
        }
}

.hamberger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    transition: all 0.3s ease-out;
}

.bar.upper-bar {
    transform: translatey(-10px);
}

.bar.lower-bar {
    transform: translatey(10px);
}

.hamberger-menu,
.menu-list {
    position: relative;
    z-index: 2;
}

.menu-list {
    display: none;
}

.menu-list>ul {
    list-style: none;
    margin-top: 20px;
}

.menu-list>ul>li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.menu-list>ul>li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    animation: linkAnimation 0.2s ease-out;
}

.menu-background {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #eb4d4b;
    transform: translate(-100%, -100%);
    transition: all 0.3s ease-out;
    border-radius: 100%;
}

.navigation-block:hover .bar.upper-bar,
.navigation-block:hover .bar.lower-bar {
    transform: translatey(0px);
}

.navigation-block:hover .bar.upper-bar {
    transform: rotate(45deg);
}

.navigation-block:hover .bar.lower-bar {
    transform: rotate(-45deg);
}

.navigation-block:hover .bar.middle-bar {
    transform: translatex(-1000px);
}

.navigation-block:hover .menu-list {
    display: block;
}

.navigation-block:hover .menu-background {
    animation: bubblePresent 0.3s ease-out;
    transform: translate(-50%, -30%);
}

@keyframes linkAnimation {
    0% {
        /*transform: translateX(50px);*/
        transform: scale(1.1);
    }

    80% {
        /*transform: translateX(-10px);*/
        transform: scale(0.9);
    }

    100% {
        /*transform: translateX(0px);*/
        transform: scale(1);
    }
}

@keyframes bubblePresent {
    0% {
        transform: translate(-100%, -100%);
    }

    80% {
        transform: translate(-45%, -25%);
    }

    100% {
        transform: translate(-50%, -30%);
    }
}