.header{
    border-radius: 25px 25px 0px 0px;
    border-bottom: 5px solid #cc6c7b;
    @media screen and (min-width: 768px) {
            height: 220px;
            border: none;
        }
}
.header .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (min-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
}
  .contact-list{
    margin-top: 37px;
  }
  .contact-item{
    margin: 0 0 16px;
    justify-content: center;
    @media screen and (max-width: 767px) {
            display: none;
        }
}
.contact-text{
    margin-right: 12px;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.29;
    text-transform: uppercase;
}
.contact-btn{
    border-radius: 10px;
     border: 2px solid #ffffff;
     background-color: rgb(255, 225, 235);
}

// logo

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
            display: block;
                
                margin-right: 270px;
        }
                 @media screen and (min-width: 1200px) {
                     display: block;
        
                     margin-right: 467px;
                 }
    
}
.logo-img{
   min-width: 100px;
   height: 100px; 
    @media screen and (min-width: $tablet) {
            min-width: 150px;
                height: 150px;
        }
 
}

.logo-text{
    font-weight: 100;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
    color: #000;
    position: relative;
    padding-bottom: 10px;
    margin-left: auto;
        margin-right: auto;
    

    @media screen and (max-width: 767px) {
        display: none;
    }
          @media screen and (min-width: $tablet) {
              
          }
}

.nav-menu{
vertical-align: middle;
height: 30px;
border-bottom: 1px #cc6c7b;
// background-color: #fff6f6;
@media screen and (max-width: 767px) {
        display: none;
    }
}
.nav-list{
    margin-top: 30px;
    padding: 0 4px 0 2px;
    border-bottom: 2px solid #d78894;
    display: flex;
    margin:  auto;
}

.nav-list__item{
    padding: 0 0 9px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin: 0 auto;
}

.nav-list__link{
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.29;
    text-transform: uppercase;
}

.basket-icon {
    margin-right: 5px;
}
.basket{
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
   
    
}

.basket-text{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
}




.form{
    @media screen and (min-width: $tablet) {
            margin-left: 530px;
            position: absolute;
            margin-top: 65px;
        }
                 @media screen and (min-width: 1200px) {
                     margin-left: 961px;
                     position: absolute;
                     margin-top: 65px;
                 }
}

.input-section__input{
    border-radius: 10px;
    border: 5px solid #ffffff;
    

    @media screen and (max-width: 767px) {
            display: none;
        }
}
.form__btn{
     border-radius: 10px;
     border: 2px solid #ffffff;
     background-color: rgb(255, 225, 235);
     margin-bottom: 5px;
}

.burger{
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-items: flex-start;

        @media screen and (min-width: 768px) {
            display: none;
        }
}
       .burger__icon{
            width: 35px;
            height: 35px;
            
        }

.nav-section {
    display: none;
}

// @media (min-width: 768px) and (max-width: 1199px) {
//     margin-left: 88px;
//   }

.select{
    background: transparent;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.29;
}

