.header{
    background-image: linear-gradient(#cc6c7b, #fff6f6);
    
  
    
}
.header .container {
    display: flex;
    align-items: center;
    

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
  }


.logo-img{
   width: 70px;
   height: 70px; 

   @media screen and (min-width: 768px) {
    width: 120px;
   height: 120px; 
}


}

.input-section{
margin-left: 15px;
padding-top: 37px;



@media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1200px) {

    }

}
.input-section__input{

    @media screen and (max-width: 767px) {
        display: none;
    }
   
    @media screen and (max-width: 1199px) {
        width: 450px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid;
    }

    @media screen and (min-width: 1200px) {
        width: 700px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid;
    }

}
.nav{
    margin-top: 20px;
}
.nav-list{
    display: flex;
   
}

.nav-list__item{
    margin-right: 10px;
}

.nav-list__link{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.29;
}

.basket-item{
margin-left: 120px;


    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1200px) {

    }

}
.basket{
    background: transparent;
    border: none;
}
.nav-section{
    display: none;
}

.burger{
    background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        line-height: 0;

        @media screen and (min-width: 768px) {
            display: none;
        }
}
       .burger__icon{
            width: 40px;
            height: 40px;
        }


.mobile-menu{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-image: linear-gradient(#cc6c7b, #fff6f6);
        transition: visibility 250ms linear, opacity 250ms linear;
        
            @media screen and (min-width: 767px) {
                display: none;
            }
        }
.mobile-menu.is-open {
 opacity: 1;
visibility: visible;
 pointer-events: all;
 }

 .close {
    background: transparent;
  position: absolute;
  top: 21px;
right: 24px;
 
 border: none;
 cursor: pointer;
padding: 0;
line-height: 0;
 }

.close__icon {
  width: 30px;
  height: 30px;
  background: transparent;
  color: #000;
}

.mobile-nav{
    margin-top: 38px;
}
.mobile-nav__link{
    display: flex;
    align-items: center;
    color: #fff6f6;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
}

.mobile-basket{
    background: transparent;
    border: none;
    position: absolute;
    top: 21px;

}
// @media (min-width: 768px) and (max-width: 1199px) {
//     margin-left: 88px;
//   }