// Категорії
.shop-categories{
    width: 100%;
    margin-top: 56px;
    margin-bottom: 32px;

}

.shop-category{
                text-align: center;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 767px) {
                        display: flex;
                    }
                
                    @media screen and (min-width: 1200px) {
                        display: flex;
                    }

            &__btn {
                    border: none;
                    background: transparent;
                    transform: scale(1);
                    transition: transform linear 250ms;
            
                }

                &__list{
                display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                   

                   

                }
                &__item{
                    margin-bottom: 10px;
                  
                    flex-basis: calc((100% - 20px) / 3);
                }

              
                }


.main-images{
    border-radius: 100px;
    border: 1px solid;
    transition: transform linear 250ms;

    &:hover
        {
            transform: scale(1.1);
            
        }
}
.main-image{
    border-radius: 100px;
    border: 4px solid crimson;
    margin-bottom: 10px;

    transition: transform linear 250ms;
    
        &:hover {
            transform: scale(1.1);
    
        }
}

.shop-category__name{
    margin-top: 20px;
    color: #000;
}

.title{
    text-align: center;
    margin-top: 150px;
}
// Новинки
.new-products{
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}
  
.product-list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
}

.product-item{
        box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
        border: 1px solid;
    transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
margin: 15px;
height: auto;
margin-top: 20px;
}
.product-item:focus {
box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
    border: 1px solid;
    transition: .5s ease;
}
.product-info{
    padding:15px 15px;
}

.lider-products{
    margin-top: 80px;
        text-align: center;
        justify-content: center;
}

.lider-product-list{
    flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}


.product-name{
    margin-bottom: 25px;
    line-height: 16px;
    font-size: 34px;
    letter-spacing: 0.02em;
}

.product-subname{
    margin-bottom: 25px;
line-height: 16px;
    font-size: 26px;
    letter-spacing: 0.02em;
}

.product-price{
line-height: 16px;
    font-size: 20px;
    letter-spacing: 0.02em;
}

