
.shop-categories{
    width: 100%;
    margin-top: 56px;
        margin-bottom: 32px;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.shop-category{
        max-width: 80px;
            margin: 0 29.2px;
            white-space: nowrap;
            text-align: center;
}

.main-images{
    border-radius: 50px;
    border: 1px solid;
    margin-bottom: 10px;
}
.main-image{
    border-radius: 50px;
        border: 4px solid crimson;
        margin-bottom: 10px;
}

.shop-category-name{
    margin-top: 10px;
    color: #000;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.new-products{
    display: flex;
    margin-top: 50px;
}

.lider-products {
    display: flex;
    margin-bottom: 50px;
}