// Категорії   
.main{
  min-width: 0;
}
           .shop-category__btn{
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border: none;
            background: transparent;
            transform: scale(1);
            transition: transform linear 250ms;
           }     


.main-images{
      height: 150px;
      min-width: 150px;
      border-radius: 10px;
      border: 5px solid #ffffff;
  @media (min-width: 320px) and (max-width: 767px) {
      height: 70px;
        min-width: 70px;
        border-radius: 10px;
        border: 5px solid #ffffff;
    }
         @media screen and (min-width: 768px) {
          height: 108px;
            min-width: 108px;
         }
                    @media screen and (min-width: 1199px) {
                      height: 150px;
                        min-width: 150px;
                    }
   
}


.shop-category__name{
    margin-top: 20px;
    font-size: 16px;
   white-space: wrap;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.title{
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    &::after {
        content: "";
        width: 50%;
        height: 2px;
        background: #d78894;
        border-radius: 2px;
        display: block;
        bottom: -1px;
      }
}
// Популярні

.new-products{
  margin-top: 50px;
}
.new-shop-category,
.new-products{
  display: grid;
  grid-gap: 5px;
  // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.new-shop-item {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  float: left;
  transition: width .2s;
  margin-left: 12px;
  

  @media  screen and (min-width: 320px) 
	 {
		width: 45%;
	}

  @media screen and (min-width: 768px) {
    width: 31.33%;
  }

  @media screen and (min-width: 1200px) {
    width: 32%;
  }
}

.new-shop-item:nth-child(0) {
  margin-right: 0;
}
.new-shop-item:hover,
.new-shop-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms linear;
    transform: scale(1);
  }

.product-info{
    padding: 10px 24px;
}
.product-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.product-subname{
    font-size: 14px;
    line-height: 1.9;
}


.lider-products{
    margin-top: 80px;
        text-align: center;
        justify-content: center;
}

.lider-product-list{
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-basis: calc((100% - 20px) / 3);
    }
                  

   
         @media screen and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
          
             }
            
             @media screen and (min-width: 1200px) {
                display: flex;
             }
       
}


.product-name{
    margin-bottom: 18px;
    line-height: 16px;
    font-size: 22px;
    letter-spacing: 0.02em;
}

.product-subname{
    margin-bottom: 14px;
    line-height: 16px;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.product-price{
line-height: 10px;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
}

.sale-btn{
   width: 130px;
   background-color: rgb(255, 225, 235);
   border-radius: 55px;
   font-weight: 500;
    font-size: 16px;
    min-width: auto;
    color: #000;
    border: 2px solid #ffffff;
    opacity: 0;
 

}

.new-shop-item:hover .sale-btn {
    opacity: 6;
    transition: opacity .3s;
}
.callback-section{
    background-image: linear-gradient( to right, rgba(237, 237, 237, 0.4), rgba(248, 248, 248, 0.4) );
    height: 400px;
      border-radius: 55px;
    width: 100%;
   padding: 50px;
}
.callback-title{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
}
.callback-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    
}
.callback-btn{
    width: 260px;
    height: 64px;
    border-radius: 55px;
    background: rgb(255, 225, 235);
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color:#000;
border: 2px solid #ffffff;
margin-top: 30px;
}
//   .btn {
//     text-decoration: none;
//     display: inline-block;
//     background: #ffffff;
//     padding: 5px 15px;
//     font-family: Arial;
//     color: #fff;
//     margin-top: 20px;
//     box-shadow: 0 0px 4px rgba(0,0,0,0.3);
    
//     &:hover {
//       box-shadow: 0 0px 8px rgba(0,0,0,0.3);
//     }
//   }
.flex-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      padding-bottom: 100px;
    }
  
    .flex-container__item {
        
      border: 1px solid #eeeeee;
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
      }
      @media screen and (min-width: 1200px) {
        width: 370px;
        flex-basis: calc((100% - 90px) / 3);
      }
    }
  
    .flex-container__info {
        position: relative;
        overflow: hidden;
        width: 100%;
    height: 100%;
      padding: 20px 24px;
     
    }
  
    .flex-container__title {
      
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }
  
    .flex-container__description {
      font-size: 16px;
      line-height: 1.9;
      
    }
  
    .flex-container__link {
      display: block;
    }
  
    .flex-container__item:hover,
    .flex-container__item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: box-shadow 250ms linear;
    }
  
    .flex-container__box {
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
      
    }
  
    .flex-container__text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      padding: 63px 24px;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      overflow: auto;
      
      background-color: rgba(225, 227, 229, 0.9);
      transform: translate3d(0, 50%, 0);
      transition: transform 250ms linear;
    }
  }
  
  .flex-container__link:hover .flex-container__text,
  .flex-container__link:focus .flex-container__text {
    transform: translateY(1);
  }

  // FACE

    .for-face-list{
        flex-wrap: wrap;
    }