
.sw-container {
  margin: 0 auto;
  height: 100%;
  padding: 0 4em;
  overflow: hidden;
}

.slider-wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: red;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  opacity: 0;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide-visible {
  opacity: 1;
}
.swiper-button-prev,
.swiper-button-next{
  margin-top: 35px;
}