
.sw-container {
 
  height: 100%;
  padding: 0 70px;
  overflow: hidden;
  @media screen and (min-width: $desktop) {
    padding: 0 0px;
    }
  
}

.slider-wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
    @media screen and (min-width: $tablet) {
        display: none;
      }
}

.swiper-container {
  width: 93%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  opacity: 0;
}
.swiper-slide {
  opacity: .25;
}
.swiper-container {
  overflow: visible;
}

.swiper-slide-visible {
  opacity: 1;
}
.swiper-button-prev,
.swiper-button-next{
  margin-top: 1px;
}