.slider {
  
  @media screen and (max-width: 767px) {
    position: relative;
    width: 480px;
    height: 200px;
    margin: 50px auto 0;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
  
}

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 1199px;
    
    

}

@media screen and (min-width: 1200px) {
  min-width: 1200px;
}
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.slider-list {
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing{
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
 
  /* Чтобы слайды не сжимались */
 min-width: 80px;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.slider-arrows {
  margin-top: 15px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;
}
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}